{include file="public/header"/}
<body>
<div class="bui-page register-page">
    <header class="bui-bar">
        <div class="bui-bar">
            <div class="bui-bar-left">
                <a class="bui-btn" onclick="bui.back();"><i class="icon-back"></i></a>
            </div>
            <div class="bui-bar-main">修改密码</div>
            <div class="bui-bar-right">
            </div>
        </div>
    </header>
    <main>
        <ul class="bui-list">
            <li class="bui-btn bui-box clearactive">
                <label class="bui-label" >原始密码:</label>
                <div class="span1">
                    <div class="bui-input user-input">
                        <input name="o_pass" type="text" value="" placeholder="请输入手机号">
                    </div>
                </div>
            </li>
            <li class="bui-btn bui-box clearactive">
                <label class="bui-label" >输入新密码:</label>
                <div class="span1">
                    <div class="bui-input">
                        <input autocomplete="off" name="n_pass" type="text" placeholder="请输入新密码">
                    </div>
                </div>
            </li>

            <li class="bui-btn bui-box clearactive">
                <label class="bui-label" >确认新密码:</label>
                <div class="span1">
                    <div class="bui-input">
                        <input autocomplete="off" name="r_pass" type="text" placeholder="请确认新密码">
                    </div>
                </div>
            </li>

        </ul>
        <div class="container-xy">
            <div class="bui-btn round primary">修改</div>
        </div>
    </main>

    <footer>
        <ul class="bui-nav">
            <a href="{:Url('index/index')}" class="bui-btn bui-box-vertical">
                <li><i class="iconfont iconshouye3"></i><div class="span1">首页</div></li>
            </a>

            <a href="{:Url('join/index')}" class="bui-btn bui-box-vertical">
                <li><i class="iconfont iconzhiyuanzhe"></i><div class="span1">加入</div></li>
            </a>

            <a href="{:Url('user/poster')}" class="bui-btn bui-box-vertical">
                <li><i class="iconfont iconerweima1688"></i><div class="span1">邀请</div></li>
            </a>

            <a href="{:Url('user/index')}" class="bui-btn bui-box-vertical active">
                <li><i class="iconfont iconmy1"></i><div class="span1">我的</div></li>
            </a>
        </ul>
    </footer>

</div>

</body>
</html>

<script>
    bui.ready(function () {
        var pageview = {};
        return pageview;
    })
</script>

<script type="text/javascript">
    $(document).on("click", ".primary", function () {
        // 设置值
        var o_pass = $("input[ name='o_pass']").val();
        var n_pass = $("input[ name='n_pass']").val();
        var r_pass = $("input[ name='r_pass']").val();
        if (n_pass !== r_pass){
            layer.msg('两次密码不一致');
            return;
        }
        layer.load(2);
        $.ajax({
            url: "{:Url('password')}",
            type: "post",
            traditional: true,
            data: {
                o_pass: o_pass,
                n_pass: n_pass,
                r_pass: r_pass,
            },
            success: function (e) {
                layer.closeAll('loading');
                if (e.code === 1) {
                    layer.msg(e.msg, {
                        end: function () {
                            window.location.href = "{:Url('user/index')}";
                        }
                    });
                } else {
                    layer.msg(e.msg, function () {
                        return false;
                    });
                }
            },
        });
    });
</script>